# Container Management Service Configuration

# Database Configuration
CONTAINER_MGMT_DB_HOST=postgres-itaas
CONTAINER_MGMT_DB_PORT=5432
CONTAINER_MGMT_DB_NAME=container_mgmt_db
CONTAINER_MGMT_DB_USER=postgres
CONTAINER_MGMT_DB_PASSWORD=postgres

# Server Configuration
CONTAINER_MGMT_PORT=8005
CONTAINER_MGMT_GRPC_PORT=9005

# Certificate Service Connection (HTTP mTLS)
CERTIFICATE_SERVICE_URL=https://certificate-service:8004
CERTIFICATE_SERVICE_CA=./certs/certificate-ca.crt
CERTIFICATE_SERVICE_CERT=./certs/container-management-client.crt
CERTIFICATE_SERVICE_KEY=./certs/container-management-client.key
CERTIFICATE_SERVICE_KEY_PASSWORD=

# HTTP mTLS Server Configuration
MTLS_CA_CERT=./certs/container-management-ca.crt
MTLS_SERVER_CERT=./certs/container-management-server.crt
MTLS_SERVER_KEY=./certs/container-management-server.key
MTLS_SERVER_KEY_PASSWORD=

# gRPC mTLS Server Configuration
GRPC_MTLS_CA_CERT=./certs/container-management-ca.crt
GRPC_MTLS_SERVER_CERT=./certs/container-management-server.crt
GRPC_MTLS_SERVER_KEY=./certs/container-management-server.key
GRPC_MTLS_SERVER_KEY_PASSWORD=

# Certificate Service gRPC mTLS Client Configuration (optional)
CERTIFICATE_SERVICE_GRPC_MTLS_CA=./certs/certificate-ca.crt
CERTIFICATE_SERVICE_GRPC_MTLS_CLIENT_CERT=./certs/container-management-client.crt
CERTIFICATE_SERVICE_GRPC_MTLS_CLIENT_KEY=./certs/container-management-client.key

# Bootstrap Configuration
BOOTSTRAP_TOKEN_SECRET=
CSR_REQUIRED_ORG=
CSR_REQUIRED_COUNTRY=

# Docker Configuration
DOCKER_HOST=npipe:////./pipe/docker_engine
CLIENT_CONTAINER_IMAGE=backend_v1-client-container
CLIENT_CONTAINER_IMAGE_TAG=latest
CLIENT_CONTAINER_PORT=8006
CLIENT_CONTAINER_GRPC_PORT=9006
CLIENT_CONTAINER_DB_HOST=localhost
CLIENT_CONTAINER_DB_PORT=5432
CLIENT_CONTAINER_DB_NAME=client_container_db
CLIENT_CONTAINER_DB_USER=postgres
CLIENT_CONTAINER_DB_PASSWORD=postgres
CERTIFICATES_PATH=./certs
DOCKER_NETWORK=microservices-network

# External Services
CONTAINER_MGMT_SERVICE_URL=https://container-management-service:8005
NOTIFICATION_SERVICE_GRPC=notification-service:9003
