# Certificate Service Configuration

# Database Configuration
CERTIFICATE_DB_HOST=postgres-itaas
CERTIFICATE_DB_PORT=5432
CERTIFICATE_DB_NAME=certificate_db
CERTIFICATE_DB_USER=postgres
CERTIFICATE_DB_PASSWORD=postgres

# Server Configuration
CERTIFICATE_PORT=8004
CERTIFICATE_GRPC_PORT=9004

# Step-CA Configuration
STEP_CA_URL=https://step-ca:9000
STEP_CA_AUDIANCE=
STEP_CA_TOKEN=
STEP_CA_PROVISIONER=
STEP_CA_USE_MTLS=false
STEP_CA_ROOT_CA=
STEP_CA_CERT=
STEP_CA_KEY=
STEP_CA_MANAGE_DOCKER=false
STEP_CA_KEY_PATH=
STEP_CA_KEY_PASSWORD=

# JWT Configuration
JWT_SECRET=

# HTTP mTLS Server Configuration
MTLS_CA_CERT=./certs/certificate-ca.crt
CERTIFICATE_SERVER_CERT=./certs/certificate-server.crt
CERTIFICATE_SERVER_KEY=./certs/certificate-server.key
CERTIFICATE_SERVER_KEY_PASSWORD=

# gRPC mTLS Server Configuration
GRPC_MTLS_CA_CERT=./certs/certificate-ca.crt
GRPC_MTLS_SERVER_CERT=./certs/certificate-server.crt
GRPC_MTLS_SERVER_KEY=./certs/certificate-server.key
GRPC_MTLS_SERVER_KEY_PASSWORD=
